.pauseStat {
  min-height: 180px;
  background: url('../../../../public/img/pausebg.svg') no-repeat 95% center / 115px 115px,
            #DFDCFE;
}

.pauseStat.lost {
  background: url('../../../../public/img/pausebg-lost.svg') no-repeat 95% center / 130px 130px,
  #F4F4F4 !important;
}

.dark .pauseStat.lost {
  background-color: var(--grey-darkMode) !important;
}

.dark .pauseStat.lost .pauseStat__text {
  color: var(--textColor-darkMode);
}