.focusStat {
  min-height: 180px;
  background: url('../../../../public/img/focusbg.svg') no-repeat 95% center / 130px 130px,
              #FFDDA9;
}

.focusStat.lost {
  background: url('../../../../public/img/focusbg-lost.svg') no-repeat 95% center / 130px 130px,
  #F4F4F4 !important;
}
