:root {
  --LayoutColor: #fff;
  --fontColor: #333;

  --white: #fff;
  --red: #DC3E22;
  --red-dark: #B7280F;
  --green: #A8B64F;
  --grey: #F4F4F4;
  --grey-1: #c4c4c4;
  --grey-dark: #E4E4E4;

  /* dark */
  --background-darkMode: #111;
  --background-1-darkMode: rgb(33, 31, 31);
  --textColor-darkMode: #c3c3c3;
  --inputColor-darkMode: #c3c3c3;
  --taskColor-darkMode: #c3c3c3;
  --grey-darkMode: #333;

}

@font-face {
  font-family: 'SF';
  font-style: normal;
  font-weight: 400;
  src: local('SF UI Text Regular'), url('../../public/font/SFUIText-Regular.woff') format('woff');
}
  
@font-face {
  font-family: 'SF';
  font-style: normal;
  font-weight: 300;
  src: local('SF UI Text Light'), url('../../public/font/SFUIText-Light.woff') format('woff');
}
  

@font-face {
  font-family: 'SF';
  font-style: normal;
  font-weight: 500;
  src: local('SF UI Text Medium'), url('../../public/font/SFUIText-Medium.woff') format('woff');
}
  

@font-face {
  font-family: 'SF';
  font-style: normal;
  font-weight: 700;
  src: local('SF UI Text Bold'), url('../../public/font/SFUIText-Bold.woff') format('woff');
}
  

body {
  font-family: 'SF', sans-serif;
  color: var(--fontColor);
}

/* color */

.text-grey {
  color: #999;
}

/* bg */
.bg-grey {
  background-color: var(--grey-1);
}

.bg-grey-1 {
  background-color: var(--grey);
}

.dark .bg-grey-1 {
  background-color: var(--grey-darkMode);
}

.bg-danger {
  background-color: var(--red) !important;
}

.bg-green {
  background-color: var(--green) !important;
}


.done {
  color: #000;
  background: radial-gradient(100.87% 997.97% at -4.34% 85.45%, #CBE03D 0%, rgba(168, 182, 79, 0) 100%);
}


/* btns */
.btn-grey-round {
  background-color: var(--grey-1);
  border: none;
  border-radius: 50%;
}

.btn-grey-round:hover {
  background-color: var(--green);
}

.btn-grey-round:focus {
  background-color: var(--green);
  border-color: var(--green);
  box-shadow: 0 0 0 .25rem rgba(168, 182, 79, .25);
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  background-color: var(--green);
  border-color: var(--green);
  box-shadow: 0 0 0 .25rem rgba(168, 182, 79, .25) !important;
}

.btn-green {
  background-color: var(--green);
  border-color: var(--green);
  border-radius: 0;
  min-height: 55px;
}

.dark .btn-green {
  background-color: #899441;
}

.btn-green:hover {
  background-color: #899441;
  border-color: #899441;
}

.btn-green:focus {
  background-color: #899441;
  border-color: #899441;
  box-shadow: 0 0 0 0.25rem rgb(168 182 79 / 25%);
}

.btn-green:active {
  background-color: #899441;
  border-color: #899441;
}


.btn-green:disabled {
  background-color: var(--green);
  border-color: var(--green);
  opacity: .7;
}

.btn-red-outline {
  border-radius: 0;
}

.btn-red-outline:disabled {
  color: var(--grey-1);
  border-color: var(--grey-1);
  opacity: .7;
}

/* fs */
.fs-big {
  font-size: 4rem;
}

.custom-check .form-check-input:checked {
  background-color: var(--green);
  border-color: var(--green);
}

/* /////dark */
.dark {
  background-color: var(--background-1-darkMode);
}

.dark .text-dark {
  color: var(--textColor-darkMode) !important;
}

.fade-in {
  animation: fade-in 0.8s ease;
}

@keyframes fade-in {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}