.fs-timer {
  font-size: 130px;
}

@media(max-width: 768px) {
  .fs-timer {
    font-size: 80px;
  }
}

.dark .fs-timer {
  color: var(--textColor-darkMode);
}

.red-timer .fs-timer {
  color: var(--red);
}

